// Company
//
// Company block
//
// Markup: ../../templates/elements/_company.twig
//
// Style guide: Elements.Company

.company {
  position: relative;
  display: block;
  text-align: center;
  margin: .75rem auto;
  width: 10rem;
  height: auto;
}
