background-color = rgb(48, 54, 65)
color = #eee

font-family = sans-serif
font-weight = normal
font-size = 40px

xxx-large = 2.88em
xx-large = 2.11em
x-large = 1.45em
large = 1.22em
medium = 1em
small = .8em
x-small = .6em
xx-small = .474em

margin = 20px

header-margin = 0 0 margin 0
header-font-family = font-family
header-color = color
header-line-height = 1.2

h1-font-size = xxx-large
h2-font-size = xx-large
h3-font-size = x-large
h4-font-size = medium

h3-margin = margin

code-font-family = monospace
code-font-size = 0.615em

link-color = #13DAEC
link-color-hover = lightness( link-color, 20% )

selection-background-color = #FF5E99
selection-color = #fff

color-alert = #ff2c2d
color-highlight = selection-background-color
color-fade = lightness(color, 70)
