show()
  opacity: 1
  visibility: visible

hide()
  opacity: 0
  visibility: hidden

transition-all()
  transition: all .2s ease

full-bleed()
  box-sizing: border-box
  height: inherit

icon(id)
  &::before
    content: ''
    display: inline-block
    background-image: 'url(/img/icons.svg#%s)' % id
    background-position: 0 4px
    background-repeat: no-repeat
    width: font-size
    height: font-size
    opacity: .65
