$color-text-base: #222 !default;
$color-bg-emphase: #eee !default;

$color-alert-info: #224d66 !default;
$color-alert-success: #5a792c !default;
$color-alert-warning: #c47908 !default;
$color-alert-error: #b62922 !default;
