
<h2>Merci !</h2>
<ul class="thanks">
  <li>Fontes
    <ul>
      <li>Titres : Patua One</li>
      <li>Body : Share</li>
      <li>Code : Share Tech Mono</li>
    </ul>
  </li>
  <li>Outils
    <p>Code source : <a href="https://github.com/ryuran/talks">https://github.com/ryuran/talks</a></p>
  </li>
  <li>Amis
    <ul>
      <li>Nicolas Hoizey</li>
      <li>M4D'z</li>
      <li>Océane Baron</li>
  </li>
</ul>
