<div class="cols-2">
  <h2>{{ 'Merci !' if (lang === 'fr') else 'Thank You!' }}</h2>
  <div class="infos">
    <h3>Illustrations</h3>
    <p>Wikipedia Commons</p>

    <h3>Interleaf images</h3>
    <p>Courtesy of Unsplash and Pexels contributors</p>

    <h3>Icons</h3>
    <p>All icons are from The Noun Project</p>

    <h3>Fonts</h3>
    <ul>
      <li>Cover Title: Sinzano</li>
      <li>Titles: Argentoratum</li>
      <li>Body: Mohave</li>
      <li>Code: Fire Code</li>
    </ul>

    <h3>Tools</h3>
    <p>Powered by Reveal.js</p>
    <p>Source code available at https://git.madslab.net/talks</p>
  </div>
</div>
