<!DOCTYPE html>
<html lang="{{ lang }}" class="{% block html_classes %}{% endblock %}">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{{ content|raw }}{% endblock %}
  </body>
</html>
