{% extends 'layout.njk' %}

{% set link_to_slides %}
  <a class="permalink" href="{{ baseurl ~ '/' ~ path }}">{{ baseurl ~ '/' ~ path }}</a>
{% endset %}

{% block head %}
  <link rel="stylesheet" href="/js/app.css" />
  <script src="/js/app.js" async></script>
{% endblock %}

{% block content %}
  <div class="reveal">
    <div class="slides">
      <section class="cover">
        {% include '_cover.njk' %}
        {{ link_to_slides|safe }}
      </section>
      {% if who === 'start' %}
        <section class="speaker">
          {% include '_speaker.njk' %}
        </section>
      {% endif %}
      {{ content|safe }}
      {% if who === 'end' %}
        <section class="speaker">
          {% include '_speaker.njk' %}
        </section>
      {% endif %}
      {% if questions %}
        <section class="interleaf" data-background-image="/img/pexels/389962.jpeg">
          <!-- Photo by Mikes Photos from Pexels -->
          <h2>Questions{{ ('&nbsp;'|safe) if (lang === 'fr') else ''}}?</h2>
        </section>
      {% endif %}
      {% if thanks %}
        <section class="thanks">
          {% include '_thanks.njk' %}
        </section>
      {% endif %}
    </div>
  </div>

  <script src="/js/app.js"></script>
  {# <script>
    document.addEventListener('DOMContentLoaded', () => {
      Reveal.initialize({
        slideNumber: true,
        history: true,
        fragmentInURL: true,
        autoPlayMedia: true,

        width: 1280,
        height: 720,

        dependencies: [
          { src: '/js/classList.js', condition() { !document.body.classList } },

          { src: '/js/breadcrumb.js', async: true },
          { src: '/js/linkrolls.js', async: true },
          { src: '/js/fix-pre-attrs.js', async: true },
          { src: '/js/gsap.js', async: true },

          { src: '/js/plugins/zoom.js', async: true },
          { src: '/js/plugins/notes.js', async: true },

          { src: '/js/plugins/prism-keep-markup.js' },
          { src: '/js/plugins/prism-line-numbers.js' },
          { src: '/js/plugins/prism-line-highlight.js' },

          { src: '/js/plugins/CSSPlugin.min.js', async: true },
        ]
      })

      Reveal.addEventListener('ready', function( event ) {
        Prism.highlightAllUnder(event.currentSlide)
      })

      Reveal.addEventListener('slidechanged', function( event ) {
        Prism.highlightAllUnder(event.currentSlide)
      })
    })
  </script> #}
{% endblock %}
