.cover
  box-sizing: border-box
  height: inherit

  .title
    position: absolute
    bottom: 18%
    width: 100%

    margin: 0 auto
    display: flex
    flex-wrap: wrap-reverse
    align-items: baseline

    text-align: left

    h1
      position: relative
      margin: margin 0
      font-family: 'Sinzano'
      flex: 1 0 auto

      &::before
        content: url(/img/icons.svg#colon)
        width: 80px
        height: 80px
        display: block
        position: absolute
        top: -.535em
        left: -34px
        opacity: .25

      &::after
        content: ''
        display: block
        position: absolute
        top: -16px
        left: 20px
        right: 0
        border-bottom: 2px solid color
        opacity .25

  .subtitle
    flex: 1 0
    font-size: large
    font-weight: normal
    text-transform: capitalize

  .date
    font-size: x-small
    text-align: right
    flex: 0 1
    white-space: nowrap

    &::after
      content: '|'
      padding: 0 .28em

  .speaker
    font-size: x-small

  .permalink
    position: absolute
    bottom: 3em
    left: 0
    font-size: x-small
    display: flex
    align-items: center

    &::before
      content: url(/img/icons.svg#link)
      width: 1em
      height: 1em
      display: block
      opacity: .6
