@import '../_commons/font-face/fira-code.styl'
@import '../_commons/font-face/sinzano.styl'
@import '../_commons/font-face/tres_tabernae.styl'
@import '../_commons/font-face/argentoratum.styl'
@import '../_commons/font-face/mohave.styl'

font-family = 'Mohave'
font-weight = 300
code-font-family = 'Fira Code'

cover-font-family = 'Sinzano'
interleaf-font-family = 'Argentoratum'
title-font-family = 'Argentoratum'
banner-font-family = 'Tres Tabernae'

h2-font-size = xx-large * 1.55
h3-font-size = x-large * 1.55
h4-font-size = large * 1.55

h3-margin = margin * 4
