@import '../_commons/fonts/fira-code.styl'
@import '../_commons/fonts/sinzano.styl'
@import '../_commons/fonts/tres_tabernae.styl'
@import '../_commons/fonts/argentoratum.styl'
@import '../_commons/fonts/mohave.styl'

font-family = 'Mohave'
font-weight = 300
code-font-family = 'Fira Code'
