@import '../reveal.css'

@import '../prism/prism-a11y-dark.css'
@import '../prism/prism-line-highlight.css'
@import '../prism/prism-line-numbers.css'

@import '../_commons/default.styl'

@import '../_commons/functions'

@import '_palette'
@import '_fonts'

@import '../_commons/reveal'

@import '../_commons/slides/*'

@import '_cover'
