.reveal

  .controls
    transform: scale(.5)

  .slide-number
    bottom: 4px
    right: 4px

    background-color: transparent
    font-family: font-family
    font-size: font-size

    a
      font-size: .25em

    &-delimiter
      color: color-highlight

  .progress span
    background-color: color-highlight
