.reveal
  h3
  h4
    margin: 0 margin
    font-family: title-font-family

  h3
  mark
    background-color: transparent
    color: inherit

    stabilo()

  .caption
  figcaption
    font-size: x-small
    color: color-fade

  code
    font-size: code-font-size * 1.3

  pre code
    font-size: inherit

  b
  strong
    color: color-highlight
