.reveal .interleaf

  h2
    position: relative
    width: 100%
    top: 8 * margin
    margin: margin 0
    top-separator()
    text-align: left
    font-family: interleaf-font-family
    text-transform: capitalize

  &[data-background-image] h2
    text-shadow: rgba(0, 0, 0, .8) 3px 5px 2px

  &.slide-background
    transition: none
    opacity: .75
    filter: grayscale(0) saturate(.8) contrast(1) brightness(1) hue-rotate(0deg)

    .slide-background-content
      background-size: 160% auto
      background-position: top right
