.reveal section:not(.thanks)
  h3
  h4
    margin-top: -.45em
    float: left
    transform: translate(0, 45%)

    & + figure
    & + ul
    & + ol
    & + p
      clear: left

    & + ul
    & + ol
    & + p
      margin-top: 1.5em

  ul
  ol
    .x-small
      display: block

  .left
    min-width: 100%
    padding: 0 margin
    text-align: left

  .right
    min-width: 100%
    padding: 0 margin
    text-align: right

  .pull-top
    margin-top: -3em

  .reset
    margin: margin auto

  // FIXME: Don't rely on it to handle layout stuff
  .typewriter
    display: block

.reveal section
  [class^=cols]
    display: flex

  .cols-2 >
    div
    p
    ul
    ol
    figure
    pre
      flex 1 50%
