.reveal section:not(.speaker)

  figure
    .large
    .medium
    .small
    figcaption
      margin-left: auto
      margin-right: auto

    .large
    .large + figcaption
      width: 70%

    .medium
    .medium + figcaption
      width: 55%

    .small
    .small + figcaption
      width: 33%

    .x-small
    .x-small + figcaption
      width: 23%

    figcaption
      padding: 0 .6em
      text-align: left

      top-separator(1.5em)

      // FIX: quick fix for positionning, to remove
      &::before
        top: 14px

      &::after
        top: 16px

      display: flex
      margin-top: -1.15em

  [class^=embed-media]
    video
    img[src$=gif]
      border: 4px solid lightness(background-color, 15)
      box-shadow: 0 0 margin/2 alpha(lightness(background-color, 5), .7)

      &.small
      &.x-small
        border-width: 2px
