.reveal .speaker

  img
    border: none

  .about
    font-size: small

    img
      border-radius: 50%
      width: 8em

    figcaption
      font-family: 'Sinzano'
      font-size: xx-large
      color: color-highlight

    p
      margin: 0
      font-size: small

    ul
      font-size: x-small

    li
      display: inline-block
      padding-left: .65em
      icon(link)

      &::before
        width: 1.2em
        height: 1.2em

    li + li
      margin-left: 1.8em

  .company
    margin-top: margin * 4

    img
      margin: 0
      box-shadow: none
      width: 8em
