.reveal .thanks

  full-bleed()

  .cols-2
    height: 100%

    & > :first-child
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      text-align: left

    & > :last-child
      position: relative

  h2
    margin: margin 0
    font-family: 'Argentoratum'

  h3
    margin: 4em auto 1em
    font-size: large

  p
  ul
    font-size: small

  .infos
    display: flex
    flex-direction: column
    align-items: center
    position: absolute
    top: 110%
    left: 0
    bottom: auto
