a
  color: link-color
  text-decoration: none

  transition: color .15s ease

  &:hover
    color: link-color-hover

    text-shadow: none
    border: none

  img
    transition: all .15s linear

  &:hover img
    border-color: color
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55)
