@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-Regular.woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-Bold.woff2')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-BoldItalic.woff2')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-Italic.woff2')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-Light.woff2')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-LightItalic.woff2')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-Medium.woff2')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Mohave'
  src: url('../fonts/woff2/Mohave-MediumItalic.woff2')
  font-weight: 500
  font-style: italic
