.about
  figure
    img(src="/img/m4dz/avatar.jpg" alt="m4dz's avatar")
    figcaption m4dz

  p Paranoïd Web Dino · Tech Evangelist
  ul
    li: a(href="https://m4dz.net") m4dz.net
    li: a(href="https://twitter.com/m4d_z") @m4d_z
    li PGP #[a(href="https://m4dz.net/0xD4627C417D969710.asc") 0xD4627C417D969710]

if !!company
  figure.company
    img(src=`/img/${company.name}/logo.svg` alt=`${company.name} logo`)
    figcaption
      if company.url
        a(href=company.url)= company.url
      else
        | #{company.name}