.cols-2
  div
    h2 !{lang === 'fr'? 'Merci !' : 'Thank You!'}
    p
      | #[+link_to_slides]
      | #[br]
      | !{lang === 'fr'? 'Disponible sous licence' : 'Available under licence'} #[a(href="http://creativecommons.org/licenses/by-sa/4.0/") CC BY-SA 4.0]

  div
    .infos
      h3 Illustrations
      p Wikipedia Commons

      h3 Interleaf images
      p Courtesy of Unsplash and Pexels contributors

      h3 Icons
      p All icons are from The Noun Project

      h3 Fonts
      ul
        li Cover Title: Sinzano
        li Titles: Argentoratum
        li Body: Mohave
        li Code: Fire Code

      h3 Tools
      p Powered by Reveal.js
      p Source code available at #[br] https://git.madslab.net/talks
